{% extends "base.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-xl-3 col-lg-4">
        <div class="card faq-left">
            <div class="social-profile">
                <img class="img-full" src="{{ asset('bundles/app/images/believecuba/logo.jpg') }}" alt="">
                <div class="profile-hvr m-t-15">
                    <i class="icofont icofont-ui-edit p-r-10 c-pointer"></i>
                    <i class="icofont icofont-ui-delete c-pointer"></i>
                </div>
            </div>
            <div class="card-block">
                <h4 class="f-18 f-normal m-b-10 txt-primary">Believecuba</h4>
                <h5 class="f-14">Resumen</h5>
                <h5 class="f-14">Descripción 1 de la empresa</h5>
                <p class="m-b-15">Descripción detallada 2 de la empresa</p>
                <p class="m-b-15">Soporte:</p>
                <ul>
                    <li class="faq-contact-card">
                        <i class="icofont icofont-telephone"></i>
                        +(1234) - 5678910
                    </li>
                    <li class="faq-contact-card">
                        <i class="icofont icofont-world"></i>
                        <a href="http://phoenixcoded.com/" target="_blank">@Believecuba</a>
                    </li>
                    <li class="faq-contact-card">
                        <i class="icofont icofont-email"></i>
                        <a href="mailto:joe@example.com">baliebecuba@domain.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end of card-block -->
    </div>
    <div class="col-xl-9 col-lg-8">
        <!-- Nav tabs -->
        <div class="tab-header">
            <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#personal" role="tab">Información general</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#project" role="tab">Configuración</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#questions" role="tab">Notificaciones</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#members" role="tab">Seguridad</a>
                    <div class="slide"></div>
                </li>
            </ul>
        </div>
        <!-- end of tab-header -->

        <div class="tab-content">
            <div class="tab-pane active" id="personal" role="tabpanel">
                <div class="card">
                    <div class="card-header"><h5 class="card-header-text">Datos generales de la empresa</h5>
                        <button id="edit-btn" type="button" class="btn btn-primary waves-effect waves-light f-right" >
                            <i  class="icofont icofont-edit"></i>
                        </button>
                    </div>
                    <div class="card-block">
                        <div class="view-info">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="general-info">
                                        <div class="row">
                                            <div class="col-lg-12 col-xl-6">
                                                <table class="table m-0">
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">Full Name</th>
                                                        <td>Josephine Villa</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Gender</th>
                                                        <td>Female</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Birth Date</th>
                                                        <td>October 25th, 1990</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Marital Status</th>
                                                        <td>Single</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Location</th>
                                                        <td>New York, USA</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- end of table col-lg-6 -->

                                            <div class="col-lg-12 col-xl-6">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">Email</th>
                                                        <td><a href="#">Demo@phenix.com</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Mobile Number</th>
                                                        <td>(0123) - 4567891</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Twitter</th>
                                                        <td>@phoenixcoded</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Skype</th>
                                                        <td>phoenixcoded.demo</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Website</th>
                                                        <td><a href="#">www.demo.com</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- end of table col-lg-6 -->
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                    <!-- end of general info -->
                                </div>
                                <!-- end of col-lg-12 -->
                            </div>
                            <!-- end of row -->
                        </div>
                        <!-- end of view-info -->

                    </div>
                    <!-- end of card-block -->
                </div>
                <!-- end of card-->

            </div>
            <!-- end of tab-pane -->
            <!-- end of about us tab-pane -->

            <!-- start tab-pane of project tab -->
            <div class="tab-pane" id="project" role="tabpanel">
                <div class="card">
                    <div class="card-header"><h5 class="card-header-text">Configuración del sistema</h5>
                        <button id="edit-btn" type="button" class="btn btn-primary waves-effect waves-light f-right" >
                            <i  class="icofont icofont-edit"></i>
                        </button>
                    </div>
                    <div class="card-block">
                        <div class="view-info">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="general-info">
                                        <div class="row">
                                            <div class="col-lg-12 col-xl-6">
                                                <table class="table m-0">
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">Full Name</th>
                                                        <td>Josephine Villa</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Gender</th>
                                                        <td>Female</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Birth Date</th>
                                                        <td>October 25th, 1990</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Marital Status</th>
                                                        <td>Single</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Location</th>
                                                        <td>New York, USA</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- end of table col-lg-6 -->

                                            <div class="col-lg-12 col-xl-6">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">Email</th>
                                                        <td><a href="#">Demo@phenix.com</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Mobile Number</th>
                                                        <td>(0123) - 4567891</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Twitter</th>
                                                        <td>@phoenixcoded</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Skype</th>
                                                        <td>phoenixcoded.demo</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Website</th>
                                                        <td><a href="#">www.demo.com</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- end of table col-lg-6 -->
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                    <!-- end of general info -->
                                </div>
                                <!-- end of col-lg-12 -->
                            </div>
                            <!-- end of row -->
                        </div>
                        <!-- end of view-info -->

                    </div>
                    <!-- end of card-block -->
                </div>
                <!-- end of card-main -->
            </div>
            <!-- end of project pane -->

            <!-- start a question pane  -->

            <div class="tab-pane" id="questions" role="tabpanel">
                    <div class="card">
                        <div class="card-header"><h5 class="card-header-text">Avisos del sistema</h5>
                            <button id="edit-btn" type="button" class="btn btn-primary waves-effect waves-light f-right" >
                                <i  class="icofont icofont-edit"></i>
                            </button>
                        </div>
                        <div class="card-block">
                            <div class="view-info">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="general-info">
                                            <div class="row">
                                                <div class="col-lg-12 col-xl-6">
                                                    <table class="table m-0">
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">Full Name</th>
                                                            <td>Josephine Villa</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Gender</th>
                                                            <td>Female</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Birth Date</th>
                                                            <td>October 25th, 1990</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Marital Status</th>
                                                            <td>Single</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Location</th>
                                                            <td>New York, USA</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="col-lg-12 col-xl-6">
                                                    <table class="table">
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">Email</th>
                                                            <td><a href="#">Demo@phenix.com</a></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Mobile Number</th>
                                                            <td>(0123) - 4567891</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Twitter</th>
                                                            <td>@phoenixcoded</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Skype</th>
                                                            <td>phoenixcoded.demo</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Website</th>
                                                            <td><a href="#">www.demo.com</a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- end of table col-lg-6 -->
                                            </div>
                                            <!-- end of row -->
                                        </div>
                                        <!-- end of general info -->
                                    </div>
                                    <!-- end of col-lg-12 -->
                                </div>
                                <!-- end of row -->
                            </div>
                            <!-- end of view-info -->

                        </div>
                        <!-- end of card-block -->
                    </div>
                <!-- end of row -->
            </div>

            <div class="tab-pane" id="members" role="tabpanel">
                <div class="card">
                    <div class="card-header"><h5 class="card-header-text">Seguridad del sistema</h5>
                        <button id="edit-btn" type="button" class="btn btn-primary waves-effect waves-light f-right" >
                            <i  class="icofont icofont-edit"></i>
                        </button>
                    </div>
                    <div class="card-block">
                        <div class="view-info">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="general-info">
                                        <div class="row">
                                            <div class="col-lg-12 col-xl-6">
                                                <table class="table m-0">
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">Full Name</th>
                                                        <td>Josephine Villa</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Gender</th>
                                                        <td>Female</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Birth Date</th>
                                                        <td>October 25th, 1990</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Marital Status</th>
                                                        <td>Single</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Location</th>
                                                        <td>New York, USA</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- end of table col-lg-6 -->

                                            <div class="col-lg-12 col-xl-6">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">Email</th>
                                                        <td><a href="#">Demo@phenix.com</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Mobile Number</th>
                                                        <td>(0123) - 4567891</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Twitter</th>
                                                        <td>@phoenixcoded</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Skype</th>
                                                        <td>phoenixcoded.demo</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Website</th>
                                                        <td><a href="#">www.demo.com</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- end of table col-lg-6 -->
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                    <!-- end of general info -->
                                </div>
                                <!-- end of col-lg-12 -->
                            </div>
                            <!-- end of row -->
                        </div>
                        <!-- end of view-info -->

                    </div>
                    <!-- end of card-block -->
                </div>
                <!-- end of row -->
            </div>
            <!-- end of memebership tab pane -->
        </div>
    </div>
</div>

{% endblock content %}
