{% extends "base.html.twig" %}

{% block header %}{% endblock %}
{% block plegable %}{% endblock %}
{% block mainmenu %}{% endblock %}
{% block breadcrumb %} {% endblock %}
{% block content %}
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-card card-block">
                    <form class="md-float-material" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="text-center">
                            <img src="{{ asset('bundles/app/images/logo-blue.png') }}">
                        </div>
                        <h3 class="text-center txt-primary">
                            Introduzca sus datos
                        </h3>
                        <div class="md-input-wrapper">
                            <input class="md-form-control" autocomplete="off" type="text" id="username" name="_username" required="required"/>
                            <label>Usuario</label>
                        </div>
                        <div class="md-input-wrapper">
                            <input class="md-form-control placeholder-no-fix" required="required" id="password" type="password" autocomplete="off" name="_password"/>
                            <label>Contraseña</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="rkmd-checkbox checkbox-rotate checkbox-ripple m-b-25">
                                    {% if error %}
                                        <i class="icofont icofont-lock text-danger"></i>
                                        <span class="text-danger">Datos incorrectos</span>
                                    {% else %}
                                        <i class="icofont icofont-lock"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                                <a href="{{ path('fos_user_resetting_request') }}" class="text-right f-w-600"> Recuperar contraseña</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 offset-xs-1">
                                <button id="env" type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">ENTRAR</button>
                            </div>
                        </div>
                        <!-- <div class="card-footer"> -->
                        <div class="col-sm-12 col-xs-12 text-center">

                        </div>
                        <!-- </div> -->
                    </form>
                    <!-- end of form -->
                </div>
                <!-- end of login-card -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>

{% endblock content %}
