{% extends "base.html.twig" %}

{% block header %}{% endblock %}
{% block plegable %}{% endblock %}
{% block mainmenu %}{% endblock %}
{% block message %}{% endblock %}

{% block content %}
    <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="login-card card-block">
                        <div class="text-center">
                            <img src="{{ asset('bundles/app/images/logo-blue.png') }}">
                        </div>
                        <h3 class="txt-primary text-center m-b-25">Contraseña cambiada</h3>
                        <p class="text-center">Se ha cambiado la contraseña para el usuario <b>{{ user.username }}</b></p>
                        <div class="row">
                            <div class="col-xs-12 text-center m-t-25">
                                <a href="{{ path("homepage") }}" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Entrar al sistema</a>
                            </div>
                        </div>
                        <!-- end of btn-forgot class-->
                        <!-- end of form -->
                    </div>
                    <!-- end of login-card -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
{% endblock content %}
